$color-primary: #003ead;
$color-primary-hover: #2f8738;
$color-primary-focus: #359c3f;
$color-disabled: #37474f26;
$color-primary-black: #333;

$color-accent: #d6f023;

$color-font: #212121d8;
$color-light-text: #fff;
$color-primary-text: #005bff;
$disabled-text: #2121213f;

$color-bg-light: #f5f7fa;
$color-primary-green: #2f8738;
